NODE_ENV=development
PORT=3001
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=1d
GMAIL_USER=
GMAIL_APP_PASSWORD=
ADMIN_SHARED_EMAIL=
ADMIN_SHARED_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=congreso-rcp/receipts
CORS_ALLOWED_ORIGINS=http://localhost:5173
